root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

# Apply to all Python files
[*.py]
max_line_length = 150
indent_style = space
indent_size = 4
# sorting
order_by_type = true
combine_as_imports = true

[**/lib/html/*.py]
max_line_length = off

[*.html]
indent_style = ignore

[*.ipynb]
indent_style = ignore

[*.csv]
end_of_line = lf

[reports/**]
max_line_length = off
